<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>ABOUT</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>Korea Hwarang Football Club, simply referred to as Hwarang, is a Sunday league football club based in Calgary, Alberta, Canada. Hwarang was formed in 2014 by a few Koreans, <b>"to promote social activities and friendship among Koreans living in Calgary."</b></p>
        <p>The founding members aimed to offer newcomers the chance to participate in experiences that native Calgarians/Canadians take for granted. In addition, Hwarang promotes social and competitive activities that bring Koreans together for fun and fellowship. Through soccer games and interactions, participants learn about each other, celebrate each other's successes, and are encouraged by other's success in new endeavors.</p>
        <p>Hwarang members welcome anyone who wants to join the club but they only welcome people who share their values - <i>respect</i> and <i>kindness</i> - with the rest of the team. Contact Hwarang today to get started!</p>
      </div>      
    </div>
  </div>
</section>
